@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #3742fa;
}

::selection {
  color: black;
  background: #3742fa;
}

@font-face {
  font-family: "IntegralCF";
  src: url(./assets/fonts/IntegralCF-Heavy.otf);
}

@font-face {
  font-family: "SofiaPro";
  src: url(./assets/fonts/Sofia\ Pro\ Bold\.otf);
}

#hero-heading {
  font-family: "IntegralCF";
  font-size: 6.5rem;
}

#hero-sub-heading {
  font-family: "SofiaPro";
  font-size: 1.3rem;
}

#cta-btn {
  font-family: "SofiaPro";
}

/* Hour */
input[type="time"]::-webkit-datetime-edit-hour-field {
  background-color: #f2f4f5;
  border-radius: 15%;
  padding: 19px 13px;
}

/* Minute */
input[type="time"]::-webkit-datetime-edit-minute-field {
  background-color: #f2f4f5;
  border-radius: 15%;
  padding: 19px 13px;
}

/* AM/PM */
input[type="time"]::-webkit-datetime-edit-ampm-field {
  display: none;
}

/* Up/Down arrows for incrementing/decrementing the value */
input[type="time"]::-webkit-inner-spin-button {
  display: block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main {
  background: url("./assets/images/patternpad.svg");
  /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
}
