@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #3742fa;
}

::selection {
  color: black;
  background: #3742fa;
}

@font-face {
  font-family: "IntegralCF";
  src: url(./assets/fonts/IntegralCF-Heavy.otf);
}

@font-face {
  font-family: "SofiaPro";
  src: url(./assets/fonts/Sofia\ Pro\ Bold\.otf);
}

#hero-heading {
  font-family: "IntegralCF";
  font-size: 6.5rem;
}

#hero-sub-heading {
  font-family: "SofiaPro";
  font-size: 1.3rem;
}

#cta-btn {
  font-family: "SofiaPro";
}
